/* krona-one-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/krona-one-v14-latin_latin-ext-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-regular - latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/encode-sans-semi-expanded-v19-latin_latin-ext-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-500 - latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/encode-sans-semi-expanded-v19-latin_latin-ext-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-600 - latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/encode-sans-semi-expanded-v19-latin_latin-ext-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* encode-sans-semi-expanded-700 - latin_latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Encode Sans Semi Expanded';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/encode-sans-semi-expanded-v19-latin_latin-ext-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}