/* Carousel Slider */
#carouselSlider {
    position: relative;
    overflow: hidden;

    .carousel-inner {
        height: calc(100vh);
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: 1;
            background: linear-gradient(to bottom, rgb(0 0 0 / 65%) 10%, rgb(2 2 2 / 0%) 100%, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 0%) 0%);
            z-index: 1;
        }

        /*
        &::after {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            mix-blend-mode: multiply;
            border-radius: 0rem;
            background: linear-gradient(180deg, #707485, #707485);
            z-index: 0;
        }
            */

        .carousel-item {
            height: calc(100vh);

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .carousel-caption {
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                h1,
                h2 {
                    font-size: 48px;
                    font-weight: 400;
                }
            }
        }
    }

    /*
    .carousel-control-prev,
    .carousel-control-next {
        transition: all 0.3s ease-in-out;
        color: #0873c3;
        width: 3rem;
        &.carousel-control-prev {
            left: 3rem;
        }
        &.carousel-control-next {
            right: 3rem;
        }
        .svg {
            transition: all 0.3s ease-in-out;
            color: #0873c3;
            fill: #0873c3;
        }
        &:hover {
            color: #fff;
            fill: #fff;
        }
        @media (max-width: 992px) {
            width: 6%;

            &.carousel-control-prev {
                left: 0rem;
            }

            &.carousel-control-next {
                right: 0rem;
            }
        }
    }
    */

    @media (max-width: 36rem) {
        margin-top: 94px;
        .carousel-inner {
            height: 50vh;

            .carousel-item {
                height: 50vh;

                .carousel-caption {
                    z-index: 1;
                    left: 5%;
                    right: 5%;
                    align-items: center;
                    justify-content: center;
                    display: flex;

                    h1, h2 {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

/*Sub Page Banner*/
.sub-page-main {
    
    .page-banner {
        height: 80vh;
        position: relative;
        max-height: 80vh;

        &.full-banner {
            height: 100vh;
            max-height: 100vh;
        }

        &.short-banner {
            height: 400px;
            min-height: 400px;
            max-height: 400px;

            .page-banner-content {
                position: absolute;
                top: 50%;
                width: 100%;
                transform: translateY(0%);
                -webkit-transform: translateY(0%);
            }
        }
    }

    .certificates-section {
        .page-banner-content {
            top: 55%;
        }
        @media (max-width: 992px) {
            overflow: scroll;
            .page-banner-content {
                padding-top: 140rem;
                h1, p {
                    visibility: visible!important;
                    opacity: 1!important;
                    transform: none!important;
                }
            }
        }
    }

    &.we-services-page {

        @media (max-width: 1200px) {
            .background-wrapper {
                overflow: hidden!important;
                position: absolute!important;
                height: 100%!important;
                width: 100%!important;
            }
            .page-banner {
                position: relative!important;
                max-height: 100vh!important;
                min-height: 535px!important;
                min-height: 100vh!important;
                height: 100vh!important;
                .page-banner-content {
                    top: 3rem!important;
                    width: 100%!important;
                    padding-bottom: 6rem!important;
                    height: 100vh!important;
                    overflow: auto!important;
                    transform: initial!important;
                }
            }
        }

        @media (max-width: 36rem) {
            .page-banner {
                min-height: 100vh!important;
                height: 100vh!important;
            }
        }

    }

    .background-wrapper {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                to right bottom, 
                #8b1311, 
                rgba(200, 100, 106, 0)
            );
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #8493a2;
            opacity: 1;
            mix-blend-mode: multiply;
            z-index: 0;
        }
    }

    .page-banner-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #fff;
        width: calc(100% - 48px);

        h1 {
            font-size: 18px;
            font-weight: 700;
            color: $primary;
        }

        p.subtitle {
            font-size: 36px;
            font-weight: 600;
            color: #fff;
        }

        p {
            font-size: 21px;
            font-weight: 600;
            color: #fff;
        }

        p.contact-us-banner-paragraph {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
        }

    }

    @media (max-width: 1200px) {
        .page-banner {
            height: 100%;
            position: relative;
            max-height: 100vh;
            min-height: 535px;
        }
    }

    @media (max-width: 36rem) {
        margin-top: 74px;
        .page-banner {
            min-height: 80vh;
            height: 80vh;
            &.short-banner {
                .page-banner-content { 
                    top: 130px;
                }
            }
        }
        .page-banner-content {
            /* top: 200px; */
            width: 100%;
            p.subtitle {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

#produtCarouselSlider {
    position: relative;
    overflow: hidden;
    margin-top: -3rem;

    .swiper-wrapper {
        height: 470px;
        max-height: 470px;
        min-height: 470px;
        border-radius: 15px;

        .swiper-slide {
            width: 100%;
            height: 100%;
            border-radius: 15px;

            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
                border-radius: 15px;
            }
        }
    }

    .carousel-controls {
        position: relative;
        background: transparent;
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        margin-top: 3rem;

        .carousel-control-prev,
        .carousel-control-next {
            background-color: $primary;
            width: 3rem;
            height: 3rem;
            border-radius: 10px;
            color: #fff;
            position: relative;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            i {
                background-color: #fff;
            }
            &:hover {
                color: #fff;
                background-color: $primary-hover;
            }
        }
        
        .carousel-control-prev {
            i {
                background-color: #fff;
                transform: rotate(180deg);
            }
        }
    }

    @media (max-width: 1200px) {
        margin-top: 4rem;
        margin-bottom: 2rem;
        .carousel-inner {
            height: 420px;
            max-height: 420px;
            min-height: 20px;
        }
    }

    @media (max-width: 768px) {
        margin-top: 4rem;
        .carousel-inner {
            height: 320px;
            max-height: 320px;
            min-height: 320px;
        }
    }
}